@layout('layouts/main')
@section('body')
    <h1>Artifacts</h1>

    <ul class="card-list">
        @each(artifact in artifacts)
        <li class="card">
            <a class="card-image" href="/artifacts/{{ artifact.id }}">
                <img loading="lazy" src="{{ artifact.thumbnailUri }}" alt="{{ artifact.title }}">
            </a>
                <h2>Author</h2>
                <p>{{ artifact.title }}</p>
            </a>
        </li>
        @end
    </ul>
@end