@layout('layouts/main')

@section('body')

    <div class="flex-container">
        <iframe class='artifact-main' src = "{{ artifact.artifactUri }}" ></iframe>
    </div>

    <div>

        <h1>Artifact: {{ artifact.title }}</h1>

        <p>{{ artifact.description }}</p>
        <p>{{ artifact.artifactUri}}</p>
        <p>{{ artifact.mintedAt }}</p>

    </div>
@end