<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artifact</title>
</head>
<body>
    <h1>Artifact: {{ artifact.title }}</h1>

    <p>{{ artifact.description }}</p>
    <p>{{ artifact.artifactUri}}</p>

    <iframe src = "{{ artifact.artifactUri }}" width="100%" height="1000px"></iframe>
</body>
</html>