<footer class="footer">

    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <p>&copy; 2024 arkivo.art</p>
        </div>
        <div class="col-md-6">
            <p class="text-end">Powered by <a href="https://www.teztok.com/" target="_blank">Teztok</a> | <a href="https://api.tzkt.io/" target="_blank">TZKT API</a></p>
        </div>
        </div>
    </div>

</footer>